<footer>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="menu_footer">
              <li><a class="<%= link === 'index' && 'active' %>" href="/">Anasayfa</a></li>
              <li><a class="<%= link === 'about' && 'active' %>" href="/about">Hakkımızda</a></li>
              <li><a class="<%= link === 'photos' && 'active' %>" href="/photos">Keşfet</a></li>
              <li><a class="<%= link === 'contact' && 'active' %>" href="/contact">İletişim</a></li>

              <% if (user) { %>
                <li><a class="<%= link === 'users' && 'active' %>" href="/users">Kullanıcılar</a></li>
                <li><a class="<%= link === 'dashboard' && 'active' %>" href="/users/dashboard">Panel</a></li>
                <li><a href="/logout">Çıkış yap</a></li>
                <% } else { %>
                  <li><a class="<%= link === 'login' && 'active' %>" href="/login">Giriş yap</a></li>
                  <li><a class="<%= link === 'register' && 'active' %>" href="/register">Kayıt ol</a></li>
                  <% }%>
            </ul>
          </div>
          <div class="col-md-12">
            <ul class="top_infomation">
              <li><a href="javascript:void(0)"><i><img src="/images/loc.png" alt="#" /></i></a></li>
              <li><a href="javascript:void(0)"><i><img src="/images/call.png" alt="#" /></i></a></li>
              <li><a href="javascript:void(0)"><i><img src="/images/mail.png" alt="#" /></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container">
          <div class="row d_flex">
            <div class="col-md-8">
              <p> powered by Lega
              </p>
            </div>
            <div class="col-md-4">
              <ul class="social_icon_bottom ">
                <li>
                  <a href="https://www.instagram.com/denizbaranboz/" target="_blank">
                      <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
              </li>
              <li>
                <a href="https://x.com/DenizBaranBoz1" target="_blank">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </li>            
            <li>
              <a href="https://www.linkedin.com/in/deniz-baran-boz-4a3605252/" target="_blank">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
          </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery-3.0.0.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
  <script src="/js/custom.js"></script>
  <script type="text/javascript">
    baguetteBox.run('.tz-gallery');
  </script>
  </body>
  
  </html>